body{
  margin: 0;
  background-color: green;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-user-select:none;
}
.wrapper
{
  position: absolute;
  background-color: red;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform:scale(0.85,0.85);
  -ms-transform:scale(0.85,0.85);
}
.motor-housing
{
  position: relative;
  height: 80px;
  width: 80px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ddd;
}
.lower-housing
{
  position: relative;
  height: 10px;
  width: 50px;
  top: 99%;
  left: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #ccc;
}
.neck
{
  position: relative;
  height: 200px;
  width: 40px;
  top: 77px;
  left: 20px;
  border: 1px solid #333;
  border-top: 1px solid #ddd;
  background-color: #ddd;
}
.level
{
  position: relative;
  top: 53%;
  margin: 1px 10px;
  border: 1px solid #333;
  border-radius: 50%;
  color: white;
  cursor: hand;
}
.blade-container
{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #ccc;
  -webkit-animation: rotate infinite linear;
  -moz-animation: rotate infinite linear;
  -o-animation:rotate infinite linear;
}
.blade
{
  position: relative;
  height: 100px;
  width: 50px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #eee;
}
.blade-one
{
  bottom: 110px;
  right: 4px;
}
.blade-two
{
  bottom: 85px;
  left:65px;
  transform: rotate(120deg);
}
.blade-three
{
  bottom: 185px;
  left:75px;
  transform: rotate(-120deg);
}
.blade-support
{
  position: relative;
  height: 27px;
  width:25px;
  top: 98px;
  left: 12px;
  background-color: #eee;
}
