body{
  margin: 0;
  background-color: green;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-user-select:none;
}
.wrapper
{
  position: absolute;
  background-color: red;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform:scale(0.85,0.85);
  -ms-transform:scale(0.85,0.85);
}
.motor-housing
{
  position: relative;
  height: 80px;
  width: 80px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #ddd;
}
.lower-housing
{
  position: relative;
  height: 10px;
  width: 50px;
  top: 99%;
  left: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #ccc;
}
.neck
{
  position: relative;
  height: 200px;
  width: 40px;
  top: 77px;
  left: 20px;
  border: 1px solid #333;
  border-top: 1px solid #ddd;
  background-color: #ddd;
}
.level
{
  position: relative;
  top: 53%;
  margin: 1px 10px;
  border: 1px solid #333;
  border-radius: 50%;
  color: white;
  cursor: hand;
}
.blade-container
{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #ccc;
  -webkit-animation: rotate infinite linear;
  -moz-animation: rotate infinite linear;
  -o-animation:rotate infinite linear;
}
.blade
{
  position: relative;
  height: 100px;
  width: 50px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #eee;
}
.blade-one
{
  bottom: 110px;
  right: 4px;
}
.blade-two
{
  bottom: 85px;
  left:65px;
  transform: rotate(120deg);
}
.blade-three
{
  bottom: 185px;
  left:75px;
  transform: rotate(-120deg);
}
.blade-support
{
  position: relative;
  height: 27px;
  width:25px;
  top: 98px;
  left: 12px;
  background-color: #eee;
}
.foot
{
  position: relative;
  height: 20px;
  width: 120px;
  top: 75px;
  right: 20px;
  border: 1px solid #333;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ddd;
}
.wire
{
  position: relative;
  height: 300px;
  width: 1px;
  left: 150px;
  background-color: #333;
  display: inline-block;
}
.wire-two
{
  left: 146.5px;
  transform: rotate(36deg);
}
.wire-three
{
  left: 141.5px;
  transform: rotate(72deg);
}
.wire-four
{
  left: 137.5px;
  transform: rotate(108deg);
}
.wire-five
{
  left: 134.5px;
  transform: rotate(144deg);
}
.wire-six
{
  left: 130.5px;
  transform: rotate(18deg);
}
.wire-seven
{
  left: 124.5px;
  transform: rotate(54deg);
}
.wire-eight
{
  left: 120.5px;
  transform: rotate(90deg);
}
.wire-nine
{
  left: 116.5px;
  transform: rotate(126deg);
}
.wire-ten
{
  left: 112.5px;
  transform: rotate(162deg);
}
p
{
  letter-spacing: 2px;
}
.cover
{
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 180px;
  left: 125px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wire-cover
{
  position: relative;
  height: 220px;
  width: 220px;
  bottom: 315px;
  left: 38px;
  border-radius: 50%;
  border: 2px solid #444;
}
@-webkit-keyframes rotate
{
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }
}
